$o-brand-odoo: #2BB6E6;
$o-brand-primary: #009BBF;
$mk-required-color: #F7F5D4;

$mk-apps-color: #424245;
$mk-appbar-color: #424245;
$mk-appbar-background: #2BB6E6;

$mk-brand-gradient-start: lighten($o-brand-odoo, 10%);
$mk-brand-gradient-end: lighten($o-brand-odoo, 20%);
// $mk-background-image: url('/thiqah_dynamic_web_theme/static/img/background.png');
